<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BYDAUTO_POWER_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_POWER_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_POWER_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_BIGDATA_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_REAR_VIEW_MIRROR_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_REAR_VIEW_MIRROR_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_REAR_VIEW_MIRROR_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_AC_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_AUDIO_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_BODYWORK_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_CHARGING_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_DOOR_LOCK_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_DOOR_LOCK_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_ENERGY_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_ENGINE_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_GEARBOX_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_LIGHT_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_LOCATION_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_MULTIMEDIA_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_PANORAMA_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_PANORAMA_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_PM2P5_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_RADAR_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SAFETY_BELT_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SENSOR_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SENSOR_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_SETTING_SET" />
    <uses-permission android:name="android.permission.BYDAUTO_SPEED_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_STATISTIC_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_TIME_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_TYRE_GET" />
    <!--
    <uses-permission android:name="android.permission.BYDAUTO_ADAS_COMMON" />
    <uses-permission android:name="android.permission.BYDAUTO_ADAS_SET" />
    -->
    <uses-permission android:name="android.permission.BYDAUTO_ADAS_GET" />
    <uses-permission android:name="android.permission.BYDAUTO_COLLISION_GET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/> -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BYDMateClient"
        tools:targetApi="31">
        <service
            android:name=".BackgroundMainService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync">

        </service>

        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:label="画中画测试"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="画中画主界面"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".DebuggingActivity"
            android:exported="true"
            android:label="调试界面"
            android:screenOrientation="landscape">
        </activity>

        <receiver android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ServiceReadyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.toddmo.bydmate.client.SERVICE_READY"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>