<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <!-- <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/> -->
<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BYDMateClient"
        tools:targetApi="31">
        <service
            android:name=".BackgroundMainService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync">

        </service>

        <activity
            android:name=".TestActivity"
            android:exported="true"
            android:label="画中画测试"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME_ONLY" />
                <!-- remove category.HOME for bypass BYD's PackageInstaller's launcher check -->
                <!-- but it's necessary for debugging in normal Android 11+ device -->
                <!-- without ...HOME, we cannot fetch all application list directly -->
<!--                <category android:name="android.intent.category.HOME" />-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="画中画主界面"
            android:screenOrientation="landscape">
        </activity>

        <activity
            android:name=".DebuggingActivity"
            android:exported="true"
            android:label="调试界面"
            android:screenOrientation="landscape">
        </activity>

        <receiver android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ServiceReadyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.toddmo.bydmate.client.SERVICE_READY"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>