# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go tool when building a binary
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# IDEs and editor directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local environment variables
.env